apiVersion: v1
kind: Namespace
metadata:
  name: cluster-namespace
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: cluster-api
  namespace: cluster-namespace
spec:
  replicas: 1
  selector:
    matchLabels:
      app: cluster-api
  template:
    metadata:
      labels:
        app: cluster-api
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: kubernetes.io/arch
                    operator: In
                    values:
                      - arm
                      - arm64
      nodeSelector:
        kubernetes.io/hostname: raspberrypi
      containers:
        - name: cluster-api
          image: cgamel/cluster-api:67a1b8da
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 5000
---
apiVersion: v1
kind: Service
metadata:
  name: cluster-api
  namespace: cluster-namespace
spec:
  selector:
    app: cluster-api
  ports:
    - name: http
      port: 80
      targetPort: 5000
  type: ClusterIP
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: cluster-api
  namespace: cluster-namespace
  annotations:
spec:
  ingressClassName: traefik
  rules:
    - http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: cluster-api
                port:
                  number: 80
