apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: ingress-nginx-pool 
  namespace: metallb-system
spec:
  addresses:
  - 130.225.37.164/32
---
apiVersion: metallb.io/v1beta1
kind: L2Advertisement
metadata:
  name: default
  namespace: metallb-system

